{% load static %}

<div class="page" id="contact">
    <h2 class="page-heading">CONTACT</h2>
    <div class="container">
      <form class="contact-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">NAME<span class="required">*</span></label> <br>
          <input type="text" id="name" name="name" required>
        </div>
  
        <div class="form-group">
          <label for="email">EMAIL<span class="required">*</span></label> <br>
          <input type="email" id="email" name="email" required>
        </div>
  
        <div class="form-group">
          <label for="whatsapp_no">WHATSAPP NUMBER (OPTIONAL)</label> <br>
          <input type="tel" id="whatsapp" name="whatsapp_no">
        </div>

        <div class="form-group">
            <label for="animation_type">ANIMATION TYPE</label> <br>
            <div class="animationType">
            <select id="animationType" name="animation_type">
                <option value="simple">SIMPLE</option>
                <option value="complex">COMPLEX</option>
                <!-- <option value="lineArt">LINE ART</option>
                <option value="kineticType">KINETIC TYPE</option>
                <option value="minimal">MINIMAL</option> -->
            </select>
            </div>
        </div>
  
        <div class="form-group">
          <label for="budget">BUDGET $</label> <br>
          <input type="number" id="budget" name="budget" min="100">
        </div>
  
        <div class="form-group">
          <label for="message">MESSAGE</label> <br>
          <textarea id="message" name="message" required></textarea>
        </div>
  
        <button type="submit">
          <i class="fab fa-telegram-plane" id="telegram-icon"></i>
          SEND MESSAGE
        </button>
        <div id="response-message"></div>
  
        <!-- Social Media Links -->
        <div class="social-media-links">
          <ul>
            <li>
              <a href="https://www.instagram.com/theintellectanimations" target="_blank">
                <i class="fab fa-instagram icon"></i>    </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@TheIntellectAnimations" target="_blank"><i class="fab fa-youtube icon"></i></a>
            </li>
            <li>
              <a href="mailto:theintellectanimations@gmail.com"><i class="fas fa-envelope icon"></i></a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>

  <script>
    document.querySelector('.contact-form').addEventListener('submit', async (event) => {
    console.log('Submitted!');
    event.preventDefault();

    const formData = new FormData(event.target);
    const data = Object.fromEntries(formData);
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    console.log(csrfToken)

    const response = await fetch('/api/contact-enquiries', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify(data),
    });

    const responseMessageElement = document.getElementById('response-message');

    if (response.ok) {
        responseMessageElement.textContent = 'Your message has been sent successfully.';
        responseMessageElement.style.color = 'green';
    } else {
        responseMessageElement.textContent = 'There was an error sending your message.';
        responseMessageElement.style.color = 'red';
    }
});
  </script>