{% load static %}

<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#styles">STYLES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">PRICING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
  </nav>
  </div>
      <div class="logo-container">
        <img src="{% static 'images/logo.png' %}" alt="Application Logo">
      </div>
      <div class="title-container">
        <h1 class="logo-title">THE INTELLECT ANIMATIONS</h1>
      </div>