{% load static %}

<div class="page">

    <div class="text-container">
      <p class="page-text">Enhance Your Content with Engaging Animations.</p>
      <p class="page-text">Let our animations bring your creative ideas to life, crafting captivating stories.</p>
      <!-- <p class="page-text">Unlock the potential of Short-Form Animations to elevate your vision.</p> -->
      <p class="page-text">Embark on a creative journey with us, exploring limitless possibilities for your content.</p>
    </div>
<button class="connect-button">
  <a href="#" class="btn2"><span class="spn2">CONNECT</span></a>
</button>
</div>