.page {
    min-height: 100vh;
    position: relative;
    z-index: 1; 
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@400;500&display=swap');

.page-heading {
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    letter-spacing: 7.5px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height: 1.5;
    padding: 30px 0 10px 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.pricing-page {
    min-height: 70vh; /* Adjust as needed */
}

.content-container {
    display: flex;
    flex-direction: column;
  }

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-text {
    display: none;
    opacity: 0;
    z-index: 2; 
    font-family: 'Gotham', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

.page-text.show-text {
    display: block;
    animation: fadeInFromBottom 1.5s forwards;
}

body {
    background-color: transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


.logo-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}



.title-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

@media (min-width: 993px) {
    .logo-container {
        top: 34%;
    }

    
.logo-container img {
    width: 100*2.15px;
    height: 100px;
}
.logo-title, title {
    color: white;
    font-size: 3em;
    letter-spacing: 7px;
    font-weight: 300;
}

.small-logo {
    position: fixed !important;
    top: 10px !important;
    left: 10px !important;
    transform: scale(0.3) !important;
}

.small-title {
    position: fixed !important;
    top: 30px !important;
    left: -30px !important;
    transform: scale(0.5) !important;
}

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 36px;
}
}


@media (max-width: 992px) {

    .logo-container {
        top: 43%;
    }

    .logo-container img {
        width: 50*2.15px;
        height: 50;
    }
    .logo-title, title {
        color: white;
        font-size: 1.5em;
        letter-spacing: 7px;
        font-weight: 300;
    }

    .small-logo {
        position: fixed !important;
        top: 10px !important;
        left: 10px !important;
        transform: scale(0.3) !important;
    }
    
    .small-title {
        position: fixed !important;
        top: 20px !important;
        left: -30px !important;
        transform: scale(0.5) !important;
    }

    .navbar {
        display: flex;
        justify-content: center;
        padding-top: 17px;
    }
}

.logo-container, .title-container {
    transition: all 0.5s ease;
}





.navbar-nav {
    justify-content: center;
    width: 100%;
}

@media (min-width: 993px) {
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        font-size: 23px;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
    }
    .nav-link {
        font-size: 16px;
    }
}

.navbar-right {
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    display: block !important;
    justify-content: flex-start !important;
    z-index: 1000 !important;
}

.btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #000;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #000;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
  }
  
  .btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn2:hover {
    border: 2px solid #fefefe;
    color: #fefefe;
    text-decoration: none;
  }
  
  .btn2 span {
    position: relative;
    z-index: 3;
  }

  .connect-button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    margin-bottom: 250px;
  }

  .connect-button.show-text {
    display: block;
    opacity: 1;
    animation: fadeInFromBottom 1.5s forwards;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-top: 250px;
}

.sections-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.simple-section, .complex-section {
    padding: 20px;
    box-sizing: border-box; 
}

.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.video {
    height: 600px; /* Adjust as needed */
    
}

.middle-video {
    margin-top: 200px;
    align-self: center;
}
.section-heading {
    text-align: center;
}
.video-wrapper {
    position: relative;
}

.mute-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


#pricing-form {
    max-width: 600px;
    margin: auto;
  }

  #pricing-form .form-group {
    margin-bottom: 20px;
  }
  
  #price {
    font-weight: bold;
    color: whitesmoke;
    font-size:xx-large;
  }

input[type="number"] {
    -webkit-appearance: textfield; /* This will remove the arrows in Webkit browsers like Chrome and Safari */
    -moz-appearance: textfield; /* This will remove the arrows in Firefox */
    appearance: textfield; /* This will remove the arrows in some other browsers */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* This will remove the arrows in Webkit browsers like Chrome and Safari */
    margin: 0; /* This will remove the arrows in some other browsers */
}

.number-input {
    display: flex;
}

.number-input button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px; /* Adjust as needed */
    font-size: 16px;
    cursor: pointer;
    height: 40px; /* Adjust as needed */
}

.number-input input[type="number"] {
    width: 50px;
    text-align: center;
}
  
  #pricing-form input[type="number"],
  #pricing-form select {
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    font-size: 16px;
  }
  
  #pricing-form label {
    font-weight: bold;
    margin: 15px 0;
    font-size: 18px;
    display: block;
  }
  
  #pricing-form input[type="checkbox"] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0 10px 0 0;
  }

/* #duration {
    width: 100%;
    height: 25px;
    background: #ddd;
    outline: none;
    -webkit-appearance: none;
}

#duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000;
    cursor: pointer;
} */

#duration {
    width: 100%;
    height: 25px;
    background: pink; /* Change background color */
    outline: none;
    -webkit-appearance: none;
}

#duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: skyblue; /* Green background */
    cursor: pointer;
}

#duration::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: skyblue; /* Green background */
    cursor: pointer;
}

#duration, #duration-label {
    display: none;
}

label[for="duration"] {
    display: none;
}